<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<main class="container">
    <h1>회원 목록</h1>

    <div th:if="${members != null}">
        <div th:if="${members.size() == 0}">
            <p>현재 등록된 회원이 없습니다.</p>
        </div>

        <div th:if="${members.size() > 0}">
            <div class="row">
                <div class="col-md-6" th:each="member : ${members}">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">
                                <span th:text="${member.name != null ? member.name : 'null'}"></span>
                            </h5>
                            <p class="card-text">가입 날짜: 
                                <span th:text="${#temporals.format(member.createdDate, 'yyyy-MM-dd')}"></span>
                            </p>
                            <p class="card-text">제출 개수: <span th:text="${member.submission.size()}"></span></p>
                            <p class="card-text">역할: <span th:text="${member.role.replace('ROLE_', '')}"></span></p>
                            <a th:href="@{/submission/member/{memberId}(memberId=${member.id})}" class="btn btn-primary">자세히 보기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${members == null}">
        <p>회원 정보를 불러올 수 없습니다.</p>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
<script th:replace="~{fragments/script :: script}"></script>
</body>
</html>
