<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div>
    <form action="/posts/new" method="post">
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" id="title" name="title" placeholder="제목을 입력하세요.">
            <label for="description">내용</label>
            <input type="text" id="description" name="description" placeholder="내용을 입력하세요.">
            <label for="deadline">제출 기한</label>
            <input type="datetime-local" id="deadline" name="deadline">
        </div>
        <div th:if="${errorMessage}">
            <p style="color: red;">[[${errorMessage}]]</p>
        </div>
        <button type="submit">등록</button>
    </form>
</div>
</body>
</html>