<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/header :: header}"></head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    
    <main class="container">
        <div th:replace="~{fragments/banner :: banner}"></div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Edit Post</h2>

                <form th:action="@{/post/{postId}/edit(postId=${post.id})}" method="post">
                    <div class="form-group mb-3">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" name="title" th:value="*{post.title}" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" name="description" required th:text="*{post.description}"></textarea>
                    </div>

                    <div class="form-group mb-3">
                        <label for="deadline">Deadline</label>
                        <input type="datetime-local" class="form-control" id="deadline" name="deadline" 
                        th:value="*{post.deadline != null ? post.deadline : ''}" 
                        placeholder="Select a deadline">
                    </div>

                    <div class="d-grid mb-3">
                        <button type="submit" class="btn btn-bd-primary">Update Post</button>
                    </div>
                </form>

                <div class="text-center">
                    <a th:href="@{/post/{postId}(postId=${post.id})}" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </div>
    </main>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

    <script th:replace="~{fragments/script :: script}"></script>
</body>
</html>
