<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary" th:fragment="banner">
            <div class="col-lg-6 px-0">
                <h1 class="display-4 fst-italic">English Test<br>TrialChamber</h1>
                <p class="lead my-3">We are trialchamber who will help you improve your English.</p>
                <p class="lead mb-0"><a href="/post" class="text-body-emphasis fw-bold">Check test...</a></p>
            </div>
        </div>
    </body>
</html>