<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div class="container" th:fragment="footer">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
              <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
              <li class="nav-item"><a href="/posts" class="nav-link px-2 text-body-secondary">Test</a></li>
              <li class="nav-item"><a href="/members/my-info" class="nav-link px-2 text-body-secondary">MyPage</a></li>
            </ul>
            <p class="text-center text-body-secondary">&copy; 2024 Company, Inc</p>
        </footer>
    </div>
  </body>
</html>